*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.none {
  display: none;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* New Products */

.section-header {
  margin-bottom: 40px;
}

.section-header__title {
  color: #000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.section-header__description {
  margin: 0 auto;
  max-width: 630px;
  color: #999;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /* text-transform: uppercase; */
}

.section-header__description--uppercase {
  text-transform: uppercase;
}

.section-header__description--16px {
  font-size: 16px;
  margin: 10px auto 30px;
}

/* Button wrapper */

.section-button-wrapper {
  text-align: center;
}

.section-new {
  padding: 60px 0 70px;
}

.section-featured {
  padding: 70px 0;
}

.section-blog {
  padding: 70px 0 45px;
}

.section-subscribe {
  padding: 45px 0 100px;
}
