.nav {
  padding: 40px 0;
  /* height: 39px; */
}

.nav__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__logo,
a.nav__logo {
  text-decoration: none;
  color: #000;
  font-family: Noto Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 83px;
}

a.nav__logo:hover {
  color: #f72464;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  max-width: 368px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.nav__link:hover {
  color: #f72464;
}

.nav__cart {
  margin-left: auto;
}

.nav__cart-link {
  position: relative;
  display: inline-block;
  top: 5px;
  padding: 5px;
}

.nav__cart-count {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;

  border-radius: 50%;

  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: center;

  background-color: #f72464;
}
