.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  justify-content: center;
  margin-bottom: 35px;
}

.post {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}

@media (min-width: 400px) {
  .post {
    max-width: 570px;
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .post__title {
    margin-top: 0;
  }
}

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post__title {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  /* margin-top: 10px; */
}

.post__text {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3; /* 18.2px */
  margin-bottom: 10px;
}

.post__read-more {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
}

.post__read-more::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: text-top;

  background-image: url(./../../img/icons/chevron-right.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

  transition: margin 0.2s ease-in;
}

.post__read-more:hover {
  text-decoration: underline;
}

.post__read-more:hover::after {
  margin-left: 7px;
}

@media (min-width: 992px) {
  .posts-wrapper {
    margin-bottom: 75px;
  }

  .post {
    border-bottom: none;
  }
}
