.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form__input {
  width: 229px;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #f72464;
  background: #fff;

  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe-form__input::placeholder {
  color: #999;
}

.subscribe-form__button {
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  background: #f72464;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

.subscribe-form__button:hover {
  box-shadow: 0px 4px 10px rgba(184, 13, 64, 0.671);
  background-color: #ff3874;
}
